body {
  background-color: rgb(231, 190, 78);
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
}
h1,h3 {
  color: green;
  font-family: cursive;

}
h3 {
  color: saddlebrown;
}
.tea {
  color: green;
  font-family: fantasy;
}
.coffee {
  color: rgb(209, 35, 35);
}
span {
  color: green;
}
#special{
  color: brown;
}
